// Paragraph
$paragraph-Color:#494755;

// font-weight
$fweight5 :500;
$fweight6 :600;
$fweight7 :700;
$fweight8 :800;
$fweight9 :900;

// font-size
$fsize16:16px;
$fsize18:18px;
$fsize20:20px;

// color
$cwhite:#fff;
$cblack:#000;

// button


// Body
 

// Menu 
 

// heading

//margin

// Footer 

// Section 



 

 
